{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 43.8319386,
    "longitude": 11.3135144,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Casa",
    "time_zone": "Europe/Rome",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "IT",
    "language": "it",
    "radius": 100
  }
}